@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete User";
}

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-danger text-white">
                @ViewData["Title"]
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(Model => Model.UserToDelete.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(Model => Model.UserToDelete.Email)
                    </dd>
                </dl>
                <form id="delete-form" method="post">
                    <input type="hidden" asp-for="UserToDelete.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-page="Index" class="btn btn-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>