<div style="text-align: center">
    <img src="/assets/img/aberfitness.png" alt="Aber Fitness" title="Aber Fitness" height="130" />

    <br /><br />

    <h3>Activity Tracking &middot; Challenges &middot; Ladders &middot; Facility Bookings &middot; <blink><strong>Insane</strong></blink> Benefits</h3>
    <br />
    <h4>Join Aber Fitness today! It's free! And Dockerised!</h4>

    <br />

    <img src="~/images/dodgeball.jpg" style="height: 500px; border-radius: 30px;" />
</div>
