<div class="card text-white bg-primary">
    <div class="card-header">AberFitness</div>
    <div class="card-body">
        Welcome to AberFitness, Aberystwyth's &#35;1 fitness tracking website. <br />
        Register now to enjoy insane benefits.
    </div>
</div>