<div class="row">
    <div class="col-md-11 offset-md-1">
        <div align="center">
            <img src="/assets/img/aberfitness.png" alt="Aber Fitness" title="Aber Fitness" />
            <br />
            <br />
            <h3>Join Aber Fitness today! It's free! And Dockerised!</h3>
            <br />
            <br />
            <h4>Easily track your activity data, compete with friends and co-workers in activity challenges, book sporting facilities, and more!</h4>
            <br />
            <br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 offset-md-2">
        <img src="/gatekeeper/images/running.jpg" />
        <div class="card">
            <div class="card-header bg-primary text-white" style="text-align: center;">
                <strong class="card-title">ACTIVITY</strong>
            </div>
            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item">Fitbit Integration!</li>
                <li class="list-group-item">Weekly Reports!</li>
                <li class="list-group-item">Track day-to-day steps!</li>
                <li class="list-group-item">Track workouts, runs, etc!</li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <img src="/gatekeeper/images/dodgeball.jpg" />
        <div class="card">
            <div class="card-header bg-primary text-white" style="text-align: center;">
                <strong class="card-title">COMPETITIVE</strong>
            </div>
            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item">Personal Challenges!</li>
                <li class="list-group-item">Group Challenges!</li>
                <li class="list-group-item">Ladder System!</li>
                <li class="list-group-item">Facility Bookings!</li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <img src="/gatekeeper/images/benefits.jpg" />
        <div class="card">
            <div class="card-header bg-primary text-white" style="text-align: center;">
                <strong class="card-title">INSANE BENEFITS</strong>
            </div>
            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item">Visualise Your Progress!</li>
                <li class="list-group-item">Succeed With Friends!</li>
                <li class="list-group-item">It's Secure!</li>
                <li class="list-group-item">Mobile Friendly!</li>
            </ul>
        </div>
    </div>
</div>
