@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row justify-content-center">
    <div class="col-4">
        <div class="alert alert-success">
            Please check your email to reset your password.
        </div>
    </div>
</div>

