<div class="alert alert-danger" role="alert">
    <p class="lead"><strong>Only change these settings if you know what you're doing.</strong></p>
    <p>Incorrect configuration could cause authentication and/or authorization to break throughout the system.</p>
</div>