<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Only change these settings if you know what you're doing.</h4>
    Incorrect configuration could cause authentication and/or authorization to break throughout the system.
</div>